*.so
*.so.[0-9]
*.o
*.gem
*.swp
*.dylib
library/version.h
ruby/twopence.gemspec
shell/command
shell/exit
shell/extract
shell/inject
shell/twopence
shell/command.dSYM/
shell/exit.dSYM/
shell/extract.dSYM/
shell/inject.dSYM/
server/twopence_test_server
tests/logfile.*
tests/summary
core
